# vscode files
.VSCodeCounter
.vscode/settings.json
.eide

*.pyc

# project out
build
node_modules

autogen
*.bmp
# eide template
*.ept
*.diff
*.eide-template
tools
.VSCodeCounter
hello
*.json
*.gcm
gcm.cache
typings
*.pdf
