# vscode files
.VSCodeCounter
.vscode/settings.json
.eide

# project out
build
node_modules

autogen
*.bmp

# eide template
*.ept
*.diff
*.eide-template
tools
.VSCodeCounter
hello
**/.eide.usr.ctx.json
